.footer {
  margin-top: 2rem;
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   font-weight: 800;
 }
 
 .footer a {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
 }

.logo {
  filter: invert(1);
  height: 1em;
  margin-left: 0.5rem;
 }