.main {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 9px;
  margin: 1.5rem;
  padding: 1rem 5rem 1rem 5rem;
  /* min-height: 80vh; */
}

.title {
  font-size: 7vw;
  margin-bottom: -4rem;
}

.title_enfasis {
  background-image: linear-gradient(100deg, #ce7758, #ebc42a, #ff4545, #fadf84);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 20s alternate ease-in-out infinite;
}

@keyframes gradient {
  from {
    background-position: 0;
  }
  to {
    background-position: 100rem;
  }
}  

.name {
  transform: rotate(-90deg);
  text-align: center;
  width: max-content;
  margin-left: 102%;
  margin-top: -15rem;
}

.year {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40vh;
  /* margin-bottom: -25px; */
}

@media (max-width: 1024px) {
  .main {
    /* margin: initial; */
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 90vw;
  }

  .title {
    font-size: 12vw;
    margin-top: 10rem;
    margin-left: -4.2rem;
    width: fit-content;
  }

  .name {
    transform: initial;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
  }

  .year {
    display: none;
    /* margin-top: 60vh; */
    /* margin-top: initial;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */
  }

}
