.main {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 9px;
  margin: 1.5rem;
  padding: 1rem 5rem 1rem 5rem;
  height: 95vh;
}

.title {
  margin-top: 10rem;
  font-size: 145px;
  margin-bottom: 0;
}

.name {
  transform: rotate(-90deg);
  width: -moz-max-content;
  width: max-content;
  margin-top: -30vh;
  margin-left: 102%;
}

.year {
  margin-left: 42vw;
  margin-top: 45vh;
  letter-spacing: .5rem;
}

@media (max-width: 1028px) {
  .title {
    font-size: 85px;
    margin-top: 17rem;
  }

  .name {
    margin-top: -18vh;
  }

  .year {
    margin-left: 36vw;
    margin-top: 44vh;
  }

}

@media (max-width: 768px) {
  .main {
    /* margin: initial; */
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: 85vh;
    width: 90vw;
  }

  .title {
    font-size: 43px;
    margin-top: 10rem;
    margin-left: -4.2rem;
  }

  .name {
    transform: initial;
    margin-top: 25vh;
  }

  .year {
    display: none;
  }

}