.container {
   margin-top: 10rem;
}

.container h1{
   font-size: 2.5rem;
}

.proyectos {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.card {
   background-size: cover;
   background-position-x: center;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin: 1rem;
   padding: 1.5rem;
   text-align: left;
   text-decoration: none;
   border: 1px solid #d8c4b6;
   border-radius: 10px;
   width: 100%;
   z-index: 1;
   transition: .3s ease-in-out;
}

.card:hover {
   cursor: pointer;
   border: 1px solid #313131;
   box-shadow: 0 0 10px #313131;
   transition: .3s ease-in-out;
   z-index: 5;
}

.card:active {
   width: 120%;
   transition: .2s ease-in-out;
}

.nameCard {
   display: flex;
   flex-direction: row;
   align-items: flex-end;
}

.card h2 {
   margin-bottom: 0px;
   font-size: 1.5rem;
}

.card svg {
   margin-left: .4rem;
   margin-bottom: .1rem;
}

.card p {
   margin: 10rem 0 0 0;
   font-size: 1rem;
}

