.container {
   width: min-content;
   /* border: 1px solid white;
   padding: 1rem 7rem 2rem 1rem; */
}

.nameCard {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: .1rem;
}

.card {
   text-align: left;
   text-decoration: none;
   transition: .3s ease-in-out;
}

.card p{
   margin: .3rem;
   grid-column: 1;
}

.card svg {
   grid-column: 2;
}


@media (max-width: 1024px) {
   .proyectos {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
   }
}
  

@media (max-width: 768px) {
   .container {
      margin-left: 1rem;
      margin-right: 1rem;
   } 
}