@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html,
body {
  -webkit-user-select: none; /* Deshabilita selección por parte del usuario (Safari) */
  -ms-user-select: none; /* Deshabilita selección por parte del usuario (IE10+) */
  user-select: none; /* Deshabilita selección por parte del usuario (estándar) */

  color: #ebdfcb;
  background: #222222;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::selection{
  color: #050505;
  background: #ebdfcb;
}