@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html,
body {
  -webkit-user-select: none; /* Deshabilita selecci칩n por parte del usuario (Safari) */
  -ms-user-select: none; /* Deshabilita selecci칩n por parte del usuario (IE10+) */
  user-select: none; /* Deshabilita selecci칩n por parte del usuario (est치ndar) */


  color: #ebdfcb;
  background: #222222;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


*::selection{
  color: #050505;
  background: #ebdfcb;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

img {
  filter: invert(93%) sepia(21%) saturate(290%) hue-rotate(329deg) brightness(97%) contrast(89%);
}