.main {
   margin-top: 5rem;
   margin-right: 10rem;
   margin-left: 10rem;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'PT Serif', serif;
}

.header {
   display: flex;
   flex-direction: row;
   align-items: center;

}

.back{
   margin-top: .6em;
   width: 2em;
   height: 2em;
}

.title {
   margin-top: 0;
   margin-bottom: 0;
}

.subtitle {
   margin-top: 0;
   margin-bottom: 2rem;
   opacity: .7;
}

.date {
   opacity: .7;
}

.dateInPost {
   opacity: .7;
   margin-left: 2rem;
   margin-top: 0;
}

.list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   list-style: none;
   border-bottom: 1px solid rgb(61, 61, 61);
}

@media (max-width: 768px) {
   .main {
      margin-right: 1rem;
      margin-left: 1rem;
   }
}