.nav ul {
    margin-top: 1rem;
    position: absolute;
}

.links {
    list-style-type: none;
    gap: 5rem;
    /* position: absolute; */
    top: 0;
}

.logo {
    position: relative;
    filter: invert(1);
}

@media (max-width: 768px) {
    .logo {
        margin-left: -.5rem;
    }
}