.nav {
    position: absolute;
    display: flex;
    justify-content: center;
}

.nav ul {
    margin-top: 1rem;
    width: 96vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav li {
    list-style-type: none;
    gap: 2rem;
}

.logo {
    position: relative;
    filter: invert(1);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

@media (max-width: 1024px) {
    .nav ul {
        width: 90vw;
    }
    .logo {
        margin-left: 1rem;
    }
}
@media (max-width: 768px) {
    .logo {
        margin-left: initial;
    }
}