.nav ul {
    margin-top: 1rem;
    position: absolute;
}

.nav li {
    list-style-type: none;

}

.links {
    gap: 5rem;
    /* position: absolute; */
    top: 0;
}

.logo {
    position: relative;
    filter: invert(1);
}

@media (max-width: 1024px) {
    .logo {
        margin-left: 1rem;
    }
}
@media (max-width: 768px) {
    .logo {
        margin-left: initial;
    }
}